.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* banner styles */

.banner
  {
    width: 1440px;
    height: 652px;
    background-image: url("assets/Hero-bg.png");
    margin-top: 131px;
    text-align: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }

.banner-img
  {
    width: 173.03px;
    height: 228.9px;
    text-align: center;
    margin-left: 599.86px;
    
  }

  .banner-content{
    text-align: center;
    align-items: center;
  }
.banner-title
  {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 24px;
}

.banner-description
{
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn-primary
{
    background-color: #0D1321;
    font-weight: 600;
    width: 208px;
    height: 66px;
    color: #FFFFFF;
    font-size: 20px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    margin-left: 616px;
    border:none;
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-bottom: 44px;
    text-decoration: none;
}

/* sec styles */
 
.why-web-dev
{
    /* margin: 74px 148px; */
    width: 1140px;
    height: 1395px;
    margin-top: 74px;
    margin-left: 100px;
    align-items: center;

}

.sec
{
    margin-left: 85px;
    margin-top: 80px;
}
.sec-top
{
    text-align: center;
    align-items: center;
    /* margin-left: 48px; */
    /* padding-left: 48px; */
}

.sec-top-title
{
    /* width: 852px;
    height: 39px; */
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 36px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.sec-top-description
{
    /* width: 852px;
    height: 52px; */
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
}

.sec-one, .sec-three
{
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.sec-two
{
    margin-top: 48px;
    display: flex;
    flex-direction: row-reverse;
    gap: 300px;
}
.sec-one-title,.sec-two-title,.sec-three-title, 
{
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.sec-one-description,.sec-two-description,.sec-three-description,
{
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
}

/* .sec-one-btn
{
    font-weight: 600;
    width: 149px;
    height: 48px;
    color: #FFFFFF;
    border: 1px solid #0D1321;
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.btn-learn
{
    background-color: #FFFFFF;
    font-family: Azeret Mono;
    opacity: 0.7;
    width: 150px;
    height: 24px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 24px;
}

.sec-without-pic
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}

.insp
{
    margin-left: 148px;
    align-items: center;
    /* text-align: center; */
}

.insp-head
{
    margin-left: 144px;
    /* align-items: center; */
    /* text-align: center; */
}

.insp-title
{
    width: 852px;
    height: 39px;
    margin-left: 265px;
    font-size: 36px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-weight: 800;
    line-height: 37px;
 
}

.insp-description
{
    display: flex;
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: center;
}

.yt-vid
{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

.mct-title
{   
    /* display: flex; */
    width: 852px;
    height: 39px;
    margin-left: 560px;
    margin-top: 149px;
    font-size: 36px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-weight: 800;
    line-height: 37px;
}

.mct-description
{
    display: flex;
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-left: 294px;
    text-align: center;   
}

.skills-container {
    width: 1140px;
    height: 460px;
    margin-top: 48px;
    text-align: center;
    margin-left: 148px;
}

.skill-title {
    width: 284px;
    height: 36px;
    font-size: 24px;
    font-weight: 800;
    /* text-align: center; */
    color: (13, 19, 33);
}

.skills 
{
    width: 284px;
    height: 52px;
    font-size: 16px;
    font-weight: 400px;
}

.skills-container 
{
    display: flex;
    flex-direction: row;
    gap: 24px;
    text-align: left;
    text-decoration: none;
}

.skill-1 
{
    width: 364px;
    height: 300px;
    padding: 40px;
    box-shadow: 0px 6px 50px rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.skill-2
{
    width: 364px;
    height: 300px;
    padding: 40px;
    box-shadow: 0px 6px 50px rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.skill-3
{
    width: 364px;
    height: 300px;
    padding: 40px;
    box-shadow: 0px 6px 50px rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.anc 
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 24px;
}

.sprt {
    margin-left: 150px;
    width: 1140px;
    height: 314px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/handshake.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 64px 0px 64px 0px;
    border-radius: 16px;
    margin-top: 723px;
}

.sprt-content {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.sprt-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}

.sprt-description {

    margin-top: 16px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.sprt-content
{
    margin-top: 48px;
}

.sprt-txt {
    width: 548px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    
    /* color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center; */
}

.sprt-btn {
    margin-top: px;
    font-weight: 600;
    width: 120px;
    height: 58px;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: Azeret Mono;
    border: 1px solid #0D1321;
    padding: 17px 20px 17px 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

/* .sprt-btn:hover 
{
    background-color: #7c8ea0;
    transform: scale(1.05);
} */


#foot 
{
    width: 1440px;
    height: 24px;
    background-color: rgba(13, 19, 33, 0.03);
    /* margin-left: 150px; */
    margin-top: 111px;
    display: flex;
    flex-direction: row;
    /* gap: 592px; */
    padding: 32px 150px;
    /* justify-content: space-between; */
    
}

#sect
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 527px; */
    gap: 384px;
}

.open 
{
    /* width: 390px; */
    width: 600px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    /* text-align: center; */

    /* margin-top: 79px;
    margin-left: 150px; */
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 24px;
    /* margin-left: 1133px; */
}

/* a:hover {
    transform: scale(1.25);
} */